<launch>

    <node pkg="rqt_pr2_dashboard" type="rqt_pr2_dashboard" name="rqt_pr2_dashboard" output="screen" >
	<include file="$(find pr2_teleop_general)/launch/pr2_teleop_general_joystick.launch"/>
    <include file="$(find vicon_bridge)/launch/vicon.launch"/>
    <include file="$(find mocap_robot_pose)/launch/mocap_robot_pose.launch"/>
    <include file="$(find mocap_robot_pose)/launch/robot_pose_ekf.launch"/>

</launch>
